.mobile-menu {
  display: none;
}

.mobile-menu-open {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 3vw;
}

@media (min-width: 576px) {
  .mobile-menu-open {
    display: none;
  }
}

.navbar-menu-mobile .nav-item {
  margin-bottom: 10px;
}

.navbar-menu-mobile .nav-item:last-child {
  margin-bottom: 0;
}

.navbar-menu-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.navbar-close-icon {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

@media (min-width: 576px) {
  .navbar-menu-icon {
    display: none;
  }
}

.navbar-menu-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
