body,
h1,
p {
	margin: 0;
}

a {
	text-decoration: none;
}

.grid {
	display: grid;
	grid-template-columns: 4fr minmax(256px, 1fr);
	grid-template-rows: auto 1fr;
	grid-template-areas: "header header" "gallery aside";
	height: 100vh;
}

.header {
	grid-area: header;
}

.logo-wrapper {
	padding: 1rem;
}

.logo {
	font-family: Roboto;
	font-size: 1.4rem;
	margin-right: 1rem;
	color: rgba(0, 0, 0, .6);
}

.input {
	border: 0;
	border-bottom: 1px solid rgba(0, 0, 0, .6);
	font-family: Roboto;
	font-size: 1rem;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-icons {
	display: flex;
	padding: 1rem;
}

.ic {
	display: block;
	height: 24px;
	width: 24px;
	background-repeat: no-repeat;
}

.ic-left {
	background-image: url("icons/ic_chevron_left_black_24px.svg");
	margin-right: .5rem;
}

.ic-right {
	background-image: url("icons/ic_chevron_right_black_24px.svg");
	margin-right: .5rem;
}

.ic-menu {
	background-image: url("icons/ic_menu_black_24px.svg");
}

.ic-more {
	background-image: url("icons/ic_more_horiz_black_24px.svg");
}

.ic-facebook {
	background-image: url("icons/facebook.svg");
}

.ic-twitter {
	background-image: url("icons/twitter.svg");
}

.gallery {
	grid-area: gallery;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
	grid-auto-rows: 256px;
}

.gallery img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}


/* Aside */

.aside {
	grid-area: aside;
	font-family: Roboto;
	display: flex;
	flex-direction: column;
}

.buttons-wrapper {
	display: flex;
	margin-bottom: 2rem;
}

.buttons-wrapper .btn {
	width: 100%;
	height: 48px;
	border: 0;
	text-transform: uppercase;
	font-family: Roboto;
	font-size: 1rem;
	background-color: #F5F7FA;
}

.buttons-wrapper .btn-active {
	background-color: #fff;
}

.text-wrapper {
	margin-bottom: 2rem;
}

.text-wrapper p {
	margin-bottom: 2rem;
}

.download-btn {
	border: 0;
	width: 100%;
	height: 64px;
	background-color: #85D24D;
	font-family: Roboto;
	font-size: 1rem;
	color: #fff;
	cursor: pointer;
	border-radius: 4px;
}

.social-btn-wrapper {
	display: flex;
	justify-content: flex-end;
	filter: grayscale(1);
}

.social-btn-wrapper .ic-twitter,
.ic-facebook {
	margin-right: 1rem;
}

.margin-1 {
	margin: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 4rem 2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-grow: 1;
}